<h1>Add A new Artist</h1>

<form action="/artist" method="post">
<label for="artist_name">Artist name:</label>
<input type="text" name="name"></input>
<input type="submit" value="Add artist"></input>
</form>

<form action="/album" method="post">
<label for="album_name">Album name:</label>
<input type="text" name="name"></input>
<input type="submit" value="Add album"></input>
</form>



<img src="http://www.coldharbourmill.org.uk/wp-content/uploads/2016/04/MusicWorkShop-Image.jpg"/>