<!DOCTYPE html>
<html>
<head>
  <title>Music Library</title>
  <link rel="artis" type="text/css" href="/css/style.css">
</head>
<body>
<header>
  <li>
<!--   <a href="/music_library/">Artists</a> -->
  </li>


  <li>
<!--    <a href="/shoos/new">Home</a>  -->
  </li>

</header>
<%= yield %>
</body>
</html>