<header class="main">
	<h1><a ng-href="/profile">{{activeProfile.Name}}</a><span class="divide"><i class="fa fa-chevron-right"></i></span><a ng-href="/videos">Videos</a><span class="divide"><i class="fa fa-chevron-right"></i></span>{{pageTitle}}</h1>
</header>

<!--<div ng-if="error">-->
	<!--<div class="message error">Unable to upload artwork for this profile: <strong>{{error}}</strong></div>-->
	<!--<div class="buttons" style="margin-top: 20px;">-->
		<!--<a class="button" ng-click="cancel()"><i class="fa fa-reply"></i> Cancel</a>-->
	<!--</div>-->
<!--</div>-->

<video-edit></video-edit>
